.containerFluid {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 200px 30px 200px;
}

.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.tab_button,
.tab_button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bebebe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgba(190, 190, 190, 0.24);
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.active {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #0094ff;
}

.tab_button:nth-child(2) {
  margin: 0 40px;
}

.tab_button svg,
.tab_button2 svg {
  width: 30px;
  height: 30px;
  margin-left: 1px;
  /* opacity: 0.6; */
}

.tab_button path {
  fill: rgba(0, 0, 0, 0.25);
}

.tab_button2 path {
  stroke: rgba(0, 0, 0, 0.25);
}

.active path {
  fill: #fff;
}

.tab_button2.active path {
  stroke: #fff;
  fill: none;
}

.inputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.inputWithLabel label {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 49px;
}

.inputWithLabel input,
.inputWithLabel textarea {
  background: #ffffff;
  border: 3px solid #0094ff;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
}

.inputWithLabel input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
}

.inputWithLabel textarea {
  width: 100%;
  padding: 10px 10px;
  height: 250px;
  resize: none;
  font-size: 16px;
}

.price_row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.price_row > div:first-child {
  margin-right: 40px;
}

.inputWithLabel .input_file {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2px; */
  background: #ffffff;
  border: 2px solid #0094ff;
  box-sizing: border-box;
  border-radius: 10px;
  color: #0094ff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 85px;
  cursor: pointer;
  margin-right: 5px;
  overflow: hidden;
  margin: 0;
  margin-right: 10px;
}

.files {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.input_file img {
  width: 100%;
  height: 100%;
  /* border-radius: 25px; */
}

.inputWithLabel input[type="file"] {
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  background: rgba(0, 148, 255, 0.78);
  border-radius: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  color: #ffffff;
  padding: 16px 30px;
  margin-left: auto;
  border: none;
  cursor: pointer;
}

.buttonBack {
  border: none;
  background-color: transparent;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  border-bottom: 2px solid #818181;
  cursor: pointer;
  color: #818181;

  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding: 10px; */
}
@media (max-width: 1300px) {
  .containerFluid {
    padding: 30px 100px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 1200px) {
  .containerFluid {
    padding: 30px 50px;
    width: calc(100% - 100px);
  }
}

@media (max-width: 950px) {
  .containerFluid {
    height: auto;
  }
  /* .inputWithLabel label {
    font-size: 25px;
    line-height: 43px;
  } */
}

@media (max-width: 700px) {
  .button {
    padding: 15px 25px;
    font-size: 20px;
  }
  .buttonBack {
    font-size: 20px;
    line-height: 31px;
  }
  .inputWithLabel label {
    font-size: 20px;
    line-height: 35px;
  }
  .inputWithLabel .input_file {
    width: 70px;
    height: 70px;
    font-size: 50px;
  }
}

@media (max-width: 550px) {
  .containerFluid {
    padding: 30px 20px;
    width: calc(100% - 40px);
    margin-top: 0;
  }
  .button {
    padding: 10px 25px;
    font-size: 16px;
  }
  .buttonBack {
    font-size: 16px;
    line-height: 26px;
  }
  .inputWithLabel label {
    font-size: 16px;
    line-height: 20px;
  }
  .inputWithLabel .input_file {
    border-width: 2px;
    border-radius: 15px;
  }
}
