.containerFluid {
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  padding: 30px 100px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 73px;
  line-height: 89px;

  color: #0094ff;
}

.relative {
  display: flex;
  width: fit-content;
  position: relative;
}

.about {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 48px;
}

.button {
  background: rgba(0, 148, 255, 0.78);
  border-radius: 25px;
  padding: 25px 55px;
  margin-top: 30px;
  margin-right: auto;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  cursor: pointer;

  color: #ffffff;
}

.about_services {
  margin-top: 20px;
}

.labeled {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -50px;
  margin-top: 0px;
  margin-left: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #0094ff;
}

.labeled:hover {
  cursor: pointer;
  background-color: #77777735;
}

.labeled::after,
.labeledText::after {
  position: absolute;
  width: 200px;
  background: #fff;
  right: 0px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(79, 78, 78, 0.5);
  /* color: #0094ff; */
  content: attr(data-tooltip);
  /* margin-top: -px; */
  /* margin-left: -50px; */
  opacity: 0;
  padding: 8px;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  color: #000000;
}

.labeled:hover::after,
.labeledText:hover::after {
  opacity: 1;
  visibility: visible;
}

.labeledText {
  color: #0094ff;
  position: relative;
}

.labeledText:hover {
  cursor: pointer;
  background-color: #77777735;
}

.about_services h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 43px;
}

.services {
  padding: 0;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  padding: 25px 55px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  list-style-type: none;
  margin: 0 10px 20px 10px;
}

@media (max-width: 1200px) {
  .containerFluid {
    padding: 30px 50px;
    width: calc(100% - 100px);
  }
  .mainInfo, .about_services h3 {
    font-size: 53px;
    line-height: 69px;
  }
  .about {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: 950px) {
  .containerFluid {
    height: auto;
  }
  .mainInfo, .about_services h3 {
    font-size: 48px;
    line-height: 60px;
  }
  .about {
    font-size: 25px;
    line-height: 37px;
  }
  .button, .service{
    padding: 20px 45px;
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 700px) {
  .mainInfo, .about_services h3 {
    font-size: 35px;
    line-height: 45px;
  }
  .labeled {
    font-size: 20px;
    line-height: 34px;
    width: 30px;
    height: 30px;
    right: -40px;
  }
  .about {
    font-size: 23px;
    line-height: 33px;
  }
  .button, .service{
    padding: 15px 40px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 550px) {
  .containerFluid {
    padding: 30px 20px;
    width: calc(100% - 40px);
    margin-top: 0;
  }
  .mainInfo, .about_services h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .labeled {
    font-size: 15px;
    line-height: 30px;
    width: 20px;
    height: 20px;
    right: -30px;
  }
  .about {
    font-size: 18px;
    line-height: 24px;
  }
  .labeled::after,
  .labeledText::after {
    width: 150px;
  }
  .button, .service{
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
  }
  .service{
    margin: 0 5px 10px 5px;
  }
}
