.containerFluid {
  width: calc(100% - 400px);
  display: flex;
  justify-content: center;
  padding: 0px 200px 30px 200px;
}

.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
}

.inputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.inputWithLabel label {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 49px;
}

.inputWithLabel input,
.inputWithLabel textarea {
  background: #ffffff;
  border: 3px solid #0094ff;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
}

.inputWithLabel input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
}

.inputWithLabel textarea {
  width: 100%;
  padding: 10px 10px;
  height: 250px;
  resize: none;
  font-size: 16px;
}

.price_row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.price_row > div:first-child {
  margin-right: 40px;
}

.drag_drop {
  width: 100%;
}

.inputWithLabel .row {
  display: flex;
  width: 100%;
  align-items: center;
}

.inputWithLabel .preview {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -5px;
}

.preview_item {
  position: relative;
  border: none;
  outline: none;
  margin: 10px 5px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.preview_item span {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
}

.preview_item:hover span {
  color: red;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inputWithLabel .preview img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inputWithLabel .additional {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.62);
}

.inputWithLabel .input_file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background: rgba(0, 148, 255, 0.78);
  border: 3px solid #0094ff;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 13px 25px;
  font-size: 18px;
  color: #ffffff;
  line-height: 10px;
  white-space: nowrap;
  margin: 0;
  margin-right: 40px;
  font-weight: 500;
  cursor: pointer;
}
.input_file svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  /* border-radius: 25px; */
}

.inputWithLabel .row span {
  margin-left: 10%;
  font-weight: 500;
  font-size: 20px;
  /* margin-left: 20%; */
}

.files {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.inputWithLabel input[type="file"] {
  display: none;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  background: rgba(0, 148, 255, 0.78);
  border-radius: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  color: #ffffff;
  padding: 16px 30px;
  margin-left: auto;
  border: none;
  cursor: pointer;
}

.buttonBack {
  border: none;
  background-color: transparent;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  border-bottom: 2px solid #818181;
  cursor: pointer;
  color: #818181;

  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding: 10px; */
}
@media (max-width: 1300px) {
  .containerFluid {
    padding: 30px 100px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 1200px) {
  .containerFluid {
    padding: 30px 50px;
    width: calc(100% - 100px);
  }
}

@media (max-width: 950px) {
  .containerFluid {
    height: auto;
  }
  /* .inputWithLabel label {
    font-size: 25px;
    line-height: 43px;
  } */
}

@media (max-width: 700px) {
  .button {
    padding: 15px 25px;
    font-size: 20px;
  }
  .buttonBack {
    font-size: 20px;
    line-height: 31px;
  }
  .inputWithLabel label {
    font-size: 20px;
    line-height: 35px;
  }
  @media (max-width: 700px) {
    .row {
      flex-direction: column;
    }
    .row .input_file{
      margin: 0;
    }
    .drag_drop .row span{
      margin-left: 0;
      margin: 15px auto 0 auto;
    }
  }
}

@media (max-width: 550px) {
  .containerFluid {
    padding: 30px 20px;
    width: calc(100% - 40px);
    margin-top: 0;
  }
  .button {
    padding: 10px 25px;
    font-size: 16px;
  }
  .buttonBack {
    font-size: 16px;
    line-height: 26px;
  }
  .inputWithLabel label {
    font-size: 16px;
    line-height: 20px;
  }
}
