.containerFluid {
  width: calc(100% - 400px);
  display: flex;
  justify-content: center;
  padding: 30px 200px;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 63px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  color: #0094ff;
}

.container ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container ul li {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 38px;
  border-bottom: 2px solid transparent;
}

.container ul li a {
  text-decoration: none;
  color: inherit;
}

.container ul li button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.container ul li:hover {
  border-bottom: 2px solid #0094ff;
  color: #0094ff;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .containerFluid {
    padding: 30px 100px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 1200px) {
  .containerFluid {
    padding: 30px 50px;
    width: calc(100% - 100px);
  }
}

@media (max-width: 1000px) {
  .container ul li {
    display: none;
  }
}

@media (max-width: 700px) {
  .containerFluid {
    padding: 30px 50px 0 50px;
  }
  .container ul li {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .logo {
    font-size: 42px;
  }
}

@media (max-width: 550px) {
  .containerFluid {
    padding: 30px 20px 0 20px;
    width: calc(100% - 40px);
  }
  .container ul li {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .logo {
    font-size: 26px;
  }
}
